# Configuration de la base de données
POSTGRES_USER=PartTime
POSTGRES_PASSWORD=PartTime
POSTGRES_DB=time_manager_dev

# URL de connexion à la base de données pour le backend
DATABASE_URL=ecto://PartTime:PartTime@db/time_manager_dev

# Clé secrète pour Phoenix (à remplacer par une vraie clé générée)
SECRET_KEY_BASE=PartTime

# Environnement de l'application
MIX_ENV=prod

