name: Front Docker Build and Push

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  front-build-and-push:
    runs-on: ubuntu-latest
    steps:

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: "{{defaultContext}}:time_manager_front"
        file: ./Dockerfile
        push: true
        tags: aminhelloworld/timemanager-front:latest
        build-args: VITE_BACKEND_URL=http://api-timemanager.hallouli.com


  back-build-and-push:
    runs-on: ubuntu-latest
    steps:

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: "{{defaultContext}}:time_manager"
        file: ./Dockerfile
        push: true
        tags: aminhelloworld/timemanager-back:latest


  deploy-back:
    needs: [back-build-and-push]
    runs-on: ubuntu-latest
    steps:

    - name: install ssh keys
      run: |
        echo installing ssh keys
        install -m 600 -D /dev/null ~/.ssh/id_rsa
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.REMOTE_SERVER_ADDRESS }} > ~/.ssh/known_hosts

    - name: ssh connect
      run: |
        echo ssh connect
        ssh -i ~/.ssh/id_rsa ${{ secrets.REMOTE_SERVER_USERNAME }}@${{ secrets.REMOTE_SERVER_ADDRESS }} "sudo docker kill timemanager-back || true"
        ssh -i ~/.ssh/id_rsa ${{ secrets.REMOTE_SERVER_USERNAME }}@${{ secrets.REMOTE_SERVER_ADDRESS }} "sudo docker pull aminhelloworld/timemanager-back:latest"
        ssh -i ~/.ssh/id_rsa ${{ secrets.REMOTE_SERVER_USERNAME }}@${{ secrets.REMOTE_SERVER_ADDRESS }} "sudo docker run -d --rm --name timemanager-back -e DATABASE_URL='${{secrets.DB_URL}}' -p 4000:4000 aminhelloworld/timemanager-back:latest"


  deploy-front:
    needs: [front-build-and-push]
    runs-on: ubuntu-latest
    steps:

    - name: install ssh keys
      run: |
        echo installing ssh keys
        install -m 600 -D /dev/null ~/.ssh/id_rsa
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.REMOTE_SERVER_ADDRESS }} > ~/.ssh/known_hosts

    - name: ssh connect
      run: |
        echo ssh connect
        ssh -i ~/.ssh/id_rsa ${{ secrets.REMOTE_SERVER_USERNAME }}@${{ secrets.REMOTE_SERVER_ADDRESS }} "sudo docker kill timemanager-front || true"
        ssh -i ~/.ssh/id_rsa ${{ secrets.REMOTE_SERVER_USERNAME }}@${{ secrets.REMOTE_SERVER_ADDRESS }} "sudo docker pull aminhelloworld/timemanager-front:latest"
        ssh -i ~/.ssh/id_rsa ${{ secrets.REMOTE_SERVER_USERNAME }}@${{ secrets.REMOTE_SERVER_ADDRESS }} "sudo docker run -d --rm --name timemanager-front -p 4001:80 aminhelloworld/timemanager-front:latest"
